<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="color-green-base" name="menu"></ion-icon>
    </button>
    <ion-title>Dummy App</ion-title>
    
    <ion-buttons end>
      <ion-grid>
        <ion-row>
          <ion-col col-1 class="buttons-toolbar">
            <ion-icon class="color-green-base" name="md-contact"></ion-icon>
          </ion-col>
          <ion-col class="buttons-toolbar">
            John | 
          </ion-col>
          <ion-col>
            <a class="button button-outline button-positive color-black button-logout">Log out</a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="grid-path">
    <ion-row>
      <ion-col col-1 class="column-path">
        <ion-icon name="ios-home" class="color-green-base">
        </ion-icon>
      </ion-col>
      <ion-col col-1 class="column-path">
        <ion-icon name="ios-arrow-forward" class="color-gray">
        </ion-icon>
      </ion-col>
      <ion-col col-2>
        <a class="button button-outline button-positive color-green-base">Page 1</a>
      </ion-col>
      <ion-col col-1 class="column-path">
        <ion-icon name="ios-arrow-forward" class="color-gray">
        </ion-icon>
      </ion-col>
      <ion-col col-3>
        <a class="button button-outline button-positive color-green-base">Breadcrumb</a>
      </ion-col>
      <ion-col col-1 class="column-path">
        <ion-icon name="ios-arrow-forward" class="color-gray">
        </ion-icon>
      </ion-col>
      <ion-col col-3>
        <a class="button button-outline button-positive color-black">Current page</a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <table class="table-icons" padding>
    <tr>
      <td class="icons-td">
        <ion-icon class="fa-puzzle-piece icons-size color-gray">
        </ion-icon>
      </td>
      <td class="icons-td-2">
        <ion-list no-lines>
          <div class="color-gray icons-text-font-size">
            Sector
          </div>
          <div class="icons-text-font-size color-black font-bold">
            Sports
          </div> 
        </ion-list>
      </td>
      <td class="icons-td">
        <ion-icon class="fa-futbol-o icons-size color-gray">
        </ion-icon> 
      </td>
      <td class="icons-td-3">
        <ion-list no-lines class="float-right">
          <div class="color-gray icons-text-font-size">
            Sport Type
          </div>
          <div class="icons-text-font-size color-black font-bold">
            Bycicles
          </div>
        </ion-list>
      </td>
      <td class="icons-td">
        <ion-icon class="fa-bicycle icons-size color-gray">
        </ion-icon> 
      </td>
      <td class="icons-td-4">
        <ion-list no-lines class="float-right">
          <div class="color-gray icons-text-font-size">
            Mode
          </div>
          <div class="icons-text-font-size color-black font-bold">
            Mountain Cross
          </div>
        </ion-list>
      </td>
      <td>
      </td>
      <td class="icons-td">
        <ion-icon class="fa-recycle icons-size color-green-base">
        </ion-icon> 
      </td>
      <td class="icons-td-5">
        <ion-list no-lines class="float-right">
          <div class="color-gray icons-text-font-size">
            Responsability
          </div>
          <div class="icons-text-font-size color-green-base font-bold">
            Be Green!
          </div>
        </ion-list>
      </td>
    </tr>
  </table>

  <div class="div-help" margin>
    <ion-toolbar>
      <ion-title>Help</ion-title>
      <ion-buttons end>
        <button ion-button (click)="hide()">
          <a class="button button-outline button-positive color-green-base but-help">{{ hideTitle }}</a>
          <ion-icon *ngIf="hideHelp" ios="ios-arrow-round-up" md="md-arrow-round-up" class="color-green-base"></ion-icon>
          <ion-icon *ngIf="!hideHelp"ios="ios-arrow-round-down" md="md-arrow-round-down" class="color-green-base"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>

    <div *ngIf="hideHelp">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <ion-icon class="fa-life-ring color-gray icon-help" margin></ion-icon>
          </ion-col>
          <ion-col col-10>
            <label class="color-gray">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              <br /><br />
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              <br /><br />
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <form padding>
    <h1>
      User registration
    </h1>
    <ion-grid>
      <ion-row>
        <ion-col padding col-4>
          <ion-list>
            <ion-item>
              <ion-label class="color-black font-bold" stacked>Full name</ion-label>
              <ion-input type="text" name="fullname" (ionFocus)="focFullname = true" (ionBlur)="focFullname = false" class="border-inputs"></ion-input>
            </ion-item>
            <ion-item *ngIf="focFullname" class="color-gray">
              Instructions to show on input focus
            </ion-item>
            <ion-item>
              <ion-label class="color-black font-bold" stacked>E-mail</ion-label>
              <ion-input type="email" (ionFocus)="focEmail = true" (ionBlur)="focEmail = false" class="border-inputs"></ion-input>
            </ion-item>
            <ion-item *ngIf="focEmail" class="color-gray">
              Instructions to show on input focus
            </ion-item>
            <ion-item>
              <ion-label class="color-black font-bold" stacked>City</ion-label>
              <ion-input type="text" name="city" (ionFocus)="focCity = true" (ionBlur)="focCity = false" class="border-inputs"></ion-input>
            </ion-item>
            <ion-item *ngIf="focCity" class="color-gray">
              Instructions to show on input focus
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col padding col-8>
          <div>
            <label class="font-bold">Ride in group?</label>
            <ion-grid radio-group class="radio-group">
              <ion-row>
                <ion-col col-1 class="radio-cols">
                  <ion-radio color="secondary" value="always" checked></ion-radio>
                </ion-col>
                <ion-col col-2>
                  <ion-label class="color-gray">Always</ion-label>
                </ion-col>
                <ion-col col-1 class="radio-cols">
                  <ion-radio color="secondary" value="sometimes"></ion-radio>
                </ion-col>
                <ion-col col-2>
                  <ion-label class="color-gray">Sometimes</ion-label>
                </ion-col>
                <ion-col col-1 class="radio-cols">
                  <ion-radio color="secondary" value="never" [disabled]="isDisabled"></ion-radio>
                </ion-col>
                <ion-col col-2>
                  <ion-label class="color-gray">Never</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div class="div-days-week">
            <label class="font-bold">Days of the week</label>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label class="color-gray">Sun</ion-label>
                    <ion-checkbox color="secondary"></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label class="color-gray">Mon</ion-label>
                    <ion-checkbox color="secondary"></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label class="color-gray">Tue</ion-label>
                    <ion-checkbox color="secondary"></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label class="color-gray">Wed</ion-label>
                    <ion-checkbox color="secondary"></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label class="color-gray">Thu</ion-label>
                    <ion-checkbox color="secondary"></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label class="color-gray">Fri</ion-label>
                    <ion-checkbox color="secondary"></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label class="color-gray">Sat</ion-label>
                    <ion-checkbox color="secondary"></ion-checkbox>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div>
            <ion-buttons end>
              <button ion-button clear class="color-black back-color-gray-clear">Cancel</button>
              <button ion-button (click)="addRow()" type="submit" class="back-color-green-base">Save</button>
            </ion-buttons>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <div padding>
    <h1>
      Bikers
    </h1>

    <ion-grid>
      <ion-row class="back-color-green-base" padding>
        <ion-col>
          <ion-label class="header-grid">
            Full name
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="header-grid">
            E-mail
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="header-grid">
            City
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="header-grid">
            Ride in group
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="header-grid">
            Days of the week
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="header-grid">
            Registration day
          </ion-label>
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let row of rows; let i = index" [class.line-even]="i == 0 || ((i+1) % 2 != 0)" [class.line-odd]="i > 0 && ((i+1) % 2 == 0)" padding (mouseenter)="showIcon(row)" (mouseleave)="hideIcon(row)" [ngClass]="{'touched': touched }">
        <ion-col>
          {{ row.fullname }}
        </ion-col>
        <ion-col>
          {{ row.email }}
        </ion-col>
        <ion-col>
          {{ row.city }}
        </ion-col>
        <ion-col>
          {{ row.rideingroup }}
        </ion-col>
        <ion-col>
          {{ row.daysweek }}
        </ion-col>
        <ion-col>
          {{ row.registration }}
          
        </ion-col>
        <ion-col col-1>
          <ion-icon *ngIf="row.iconVisible" class="fa-trash-o float-center" (click)="removeLine(i)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
